@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;1,100&family=Chivo:ital,wght@0,100;0,200;1,100;1,200&family=Noto+Sans+JP:wght@100;200&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Libre+Baskerville:wght@400;700&family=Marcellus&family=Oregano&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@500;600&family=Libre+Baskerville:wght@400;700&family=Marcellus&family=Oregano&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@500;600&family=Libre+Baskerville:wght@400;700&family=Lobster+Two&family=Marcellus&family=Oregano&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@500;600&family=Libre+Baskerville:wght@400;700&family=Lobster+Two&family=Marcellus&family=Oregano&family=Poppins:wght@300;400&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@500;600&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:ital@0;1&family=Marcellus&family=Oregano&family=Oswald:wght@300;400&family=Poppins:wght@300;400&family=Vidaloka&display=swap');

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin: auto;
    margin-bottom: 56px;
}

h1 {
    
    background-color:rgba(240, 143, 17, 0.836);
    text-align: center;
    border-bottom: 3px solid rgb(107, 4, 81);
    margin-bottom: 5px;
    font-family: 'Marcellus', serif;
}


p{
font-family: 'Marcellus', serif;
font-size: 25px;
margin-top: 1px;
margin-bottom: 1px;
text-align: center;
color: #4d0303e7;

}

h2{
    background-color:rgba(240, 143, 17, 0.836);
    font-size: 20px;
    border-bottom: 3px solid rgb(107, 4, 81);
    margin-top: 1%;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: #4d0303e7;;
    font-size: 15px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    color: #4d0303e7;;
    font-size: 15px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.midia{
text-align: center;
}
